<!DOCTYPE html>
<html>
  <head>
    <title>Girasun</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <main class="main-content">
        <div class="user-navigation">
          <% if user_signed_in? %>
            <span>Bienvenida Dahicitap</span>
            <% if current_user.admin? %>
              <%= link_to 'Panel de Administración', admin_root_path, class: 'admin-link' %>
            <% end %>
            <%= button_to 'Cerrar Sesión', destroy_user_session_path, method: :delete, class: 'btn btn-outline' %>
          <% end %>
        </div>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
